

<h4><%="Hello #{session[:username]}, welcome to the Blackjack Game\n"%></h4>

<h5><%="#{session[:username]} has #{session[:player_cards]}"%></h5>

<form action='/hit' method='post'>
  <button type="submit" class="btn btn-warning">Hit</button>
</form>

<form action='/stay' method='post'>
  <button type="submit" class="btn btn-info">Stay</button>
</form>



